@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card{
    background: white;
    min-height: 500px;
    width: 900px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    display: flex;
    border-radius: 5px;
}
.form, .image{
    width: 50%;
}

.image{
    background-image: url(..office-g12924ed1b_1920.jpg);
    background-size: cover;
    background-position: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(137, 43, 226, 0.352); 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.overlay h3{
    font-size: 25px;
    color: rgba(255, 255, 255, 0.74);
}
.overlay p{
    color: rgba(255, 255, 255, 0.74);
}
.form{
    display: flex;
    flex-direction: column;
    padding: 75px 25px;
}
.form h3{
    font-size: 28px;
    font-weight: 500;
    position: relative;
    margin-bottom: 30px;
}
.form h3::after{
    content: '';
    width: 23px;
    height: 3px;
    background-color: blueviolet;
    position: absolute;
    left: 0;
    bottom: 2px;
    border-radius: 5px;
}
.fa{
    color: blueviolet;
    position: absolute;
    top: 9px;
    font-size: 10px;
}
.input-field{
    width: 100%;
    position: relative;
    margin-bottom: 2cqmin;
}
input{
    width: 100%;
    display: block;
    padding: 10px 30px;
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    font-size: 16px;
}
.form>a{
    color: green;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 40px;
}
button{
    height: 40px;
    background-color: rgb(4, 93, 248);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}
button+p{

    text-align: center;
    font-weight: 200;
    padding-top: 30px;
}
button+p a{
    text-decoration: none;
    color: rgb(81, 12, 230);
}
